@import url("../pages/normalize.css");

@media (min-width: 1600px) {
    .page {
        margin: auto;
    }
}

@keyframes pulsate{
  0% {
    opacity:1;
    transform: scale(1);
  }
  50%{
    opacity:.6;
    transform: scale(1.25);
  }
  100%{
    opacity:0;
    transform:scale(1.5);

  }
}

.page{
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header{
    background-color: #FFFFFF;
    background-image: url("../images/background_header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;
    display: flex;;

}

.header__title{
    margin-top: 252px;
    margin-left: 80px;
    max-width: 729px;
}

.header__description{
    margin-left: 80px;
    max-width: 683px;
    font-family: "Noto Serif", serif;
    font-size:20px;
    line-height: 30px;
}

.header__paragraph{
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    z-index:99;
    max-width: 643px;
    margin-left:80px;
    margin-top:28px;
}

.logo{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 125px;
    height: 142px;
}

.nav{
    display: flex;
}

.nav__link-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 20px;
    position: absolute;
    top: 30px;
    right: 80px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__link{
    text-decoration: none;
    color: #000000;
    transition: color .5s linear 0s;
}

.nav__link:hover{
    color: #2F80ED;
}

.header__description{

}

.header__image{
    margin-right:5px;
    margin-top:124px;
    width:646px;
    height:568px;
}

.header__hours{
    display: flex;
    justify-content: flex-end;
}

.header__span-accent{
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-size: 60px;
    font-weight: normal;
    line-height: 72px;
    color: #2F80ED;
    margin-bottom: 0;
    margin-left:80px;
    margin:top: 80px;
    max-width: 729px;

}

.header__practicum-library{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    max-width:729px;
    margin-top:0;
}
.header__paragraph{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__description{
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

}
.header__address{
    align-items: flex-end;
    position: absolute;
    right: 80px;
    bottom: 40px;
}


.wrapper{
    margin-left: 80px;
    margin-bottom: 40px;
}

.menu{
  position: relative;
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__cards{
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content:center;
}

.menu__title{
  padding-top: 100px;
  margin-bottom:12px;
  text-align:center;
  margin:0 auto;
  max-width: 780px;
  padding-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:44px;
  line-height: 52px;
  color: #ffffff;
}

.menu__subtitle{
  margin-top: 12px;
  margin-bottom: 100px;
  text-align:center;
  margin:0 auto;
  max-width: 780px;
  padding-bottom: 100px;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.card{
  max-width:600px;
  flex-basis: 50%;
  flex-wrap:wrap;
  align-items: center;
  margin-bottom: 100px;
}
.card__list{
  margin:0;
  padding:0;
}
.card__title{
  margin: 0 0 32px 0;
  padding:0;
  align-items:center;
  font-family: "Inter", sans-serif;
  font-style:normal;
  font-weight:bold;
  font-size:20px;
  line-height: 30px;
  color: #ffffff;
}
.card__list-item{
  display:flex;
  list-style-type: none;
  margin: 16px 0 0 0;
  padding:0;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.card__list-divider{
  border-bottom: 1px solid #FFFFFF;
  flex-grow: 1;
}
.recipes{
  background-color:#FFFFFF;
  background-Image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes__title{
  max-width: 500px;
  margin-left:80px;
  margin-top:100px;
  font-family: "Inter", sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle{
  max-width:438px;
  margin-left:80px;
  margin-top:24px;
  margin-bottom:80px;
  font-family:"Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos{
  display: flex;
  margin-bottom:215px;
  column-gap:40px;
  justify-content: center;
}

.recipes__video{

}

.recipes__video-caption{
  display:flex;
  justify-content: space-between;
}

.reservation{
  background-color: #D9E7FF;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.reservation__title{
  padding-top:100px;
  margin-bottom:80px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:44px;
  line-height: 52px;
  text-align: center;
}
.reservation__form{
  align-items: center;
  padding-bottom: 88px;
}

.form__label{
  margin-bottom: 8px;
  align-self: flex-start;
  margin-left:549px;
}
.form__input{
  border-radius: 4px;
  max-width: 385px;
  width:385px;
  margin-bottom: 32px;
  height: 60px;
}
.form__input[type="checkbox"]:checked {
  background-color: #2F80ED;
  background-image: url("../images/check.svg");
}
.form__fieldset{
  display: flex;
  flex-direction: column;
  align-content: center;
  border: none;
}
.form__button{
  border-radius: 2px;
  background-color: #2f80ed;
  opacity: 1;
  transition: opacity .5s linear 0s;
  max-width: 385px;
  width:385px;
  height:60px;
  margin-bottom:32px;
}

.form__button:hover{
  opacity: 0.7;
}

.form__checkbox{
  align-self:flex-end;
  margin-left:5px;
}
.about{
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #0A2850;
  color: white;
  z-index: -50;
}
.about__circle{
  width:426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  position: absolute;
  top:-152px;
  left: -129px;
  z-index:1;
}
.about__circle_animation_blurred{
  width:426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  position: absolute;
  top:-152px;
  left: -129px;
  z-index:1;
  animation-name: pulsate;
  animation-fill-mode: backwards;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay:none;
  animation-iteration-count: infinite;
}

.about__title{
  display: flex;
  margin-top: 100px;
  margin-left: 80px;
  max-width: 251px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  flex-basis: 500px;
  z-index:99;
}
.about__content{
  row-gap: 20px;
  max-width:660px;
  margin-top: 119px;
  margin-right:80px;
  margin-bottom: 173px;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph{
  justify-content: flex-end;
}

.footer{
  color: #FFFFFF;
  background-image: linear-gradient(180deg, #0A2850 0%, #071931 100%);
  height:auto;
  border-top: none;
}
.footer__content{
  display: flex;
  justify-content: space-between;
  width: 1440PX;
  height: 288px;
}
.footer__logo{
  margin-left:80px;
  margin-top:60px;
  width:116px;
  height:21px;
}
.footer__social-heading{
  font-family: "Inter",sans-serif;
  font-style:normal;
  font-weight:bold;
  font-size:16px;
  line-height:20px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top:60px;
}
.footer__list{
  margin-left: 0;
  padding-left:0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height:20px;
}
.footer__list-item{
  list-style-type: none;
  margin-top: 16px
}
.footer__social-icon{
  width:16px;
  height:16px;
}
.footer__social-link{
  text-decoration: none;
  color: #FFFFFF;
  margin-right:100px;
  margin-left: 10px;
  transition: color .5s linear 0s;
}

.footer__social-link:hover{
  color: #C1C1C1;
}
.footer__copyright{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 60px;
  padding-top:108px;
  padding-left:80px;
  border-bottom: 0;
}