@import url("../pages/normalize.css");

@media (min-width: 1600px) {
    .page {
        margin: auto;
    }
}
.page{
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header{
    background-color: #FFFFFF;
    background-image: url("../images/background_header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;

}

.header__title{
    margin-top: 252px;
    margin-left: 80px;
    max-width: 729px;
}

.header__description{
    margin-left: 80px;
    max-width: 683px;
    font-family: "Noto Serif", serif;
    font-size:20px;
    line-height: 30px;
}

.header__paragraph{
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.logo{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 125px;
    height: 142px;
}

.nav{
    display: flex;
}

.nav__link-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 20px;
    position: absolute;
    top: 30px;
    right: 80px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__link{
    text-decoration: none;
    color: #000000;
    transition: color .5s linear 0s;
}

.nav__link:hover{
    color: #2F80ED;
}

.header__description{

}

.header__image{
    position: absolute;
    right:5px;
    top:124px;
    width:646px;
    height:568px;
}

.header__hours{
    display: flex;
    justify-content: flex-end;
}

.header__span-accent{
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-size: 60px;
    font-weight: normal;
    line-height: 72px;
    color: #2F80ED;
    margin-bottom: 0;

}

.header__practicum-library{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    max-width:729px;
    margin-top:0;
}
.header__paragraph{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__description{
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

}
.header__address{
    align-items: flex-end;
    position: absolute;
    right: 80px;
    bottom: 40px;
}


.wrapper{
    position: absolute;
    left: 80px;
    bottom: 40px;
}

.menu{
  position: relative;
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__cards{
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content:space-between;
}

.menu__title{
  padding-top: 100px;
  margin-bottom:12px;
  text-align:center;
  margin:0 auto;
  max-width: 780px;
  padding-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:44px;
  line-height: 52px;
  color: #ffffff;
}

.menu__subtitle{
  margin-top: 12px;
  margin-bottom: 100px;
  text-align:center;
  margin:0 auto;
  max-width: 780px;
  padding-bottom: 100px;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.card{
  max-width:600px;
  flex-basis:50%;
  flex-wrap:wrap;
}
.card__list{
  margin:0;
  padding:0;
}
.card__title{
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-style:normal;
  font-weight:bold;
  font-size:20px;
  line-height: 30px;
  color: #ffffff;
}
.card__list-item{
  list-style-type: none;
  margin-top: 16px;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.card__list-divider{
  text-decoration:underline;
  flex-grow: 99;
}

.card:last-of-type{
  align-self: center;
}
.recipes{
  background-color:#FFFFFF;
  background-Image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: centered;
  background-size: cover;
}
.recipes__title{
  max-width: 500px;
  margin-left:80px;
  margin-top:100px;
  font-family: "Inter", sans-serif;
  font-style:normal;
  font-weight: 500px;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle{
  max-width:438px;
  margin-left:80px;
  margin-top:24px;
  margin-bottom:80px;
  font-family:"Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.recipes__iframe{
  margin:auto;
  column-gap:40px;
  flex-basis: 50%;
}

.recipes__videos{
  margin:auto;
  column-gap:40px;
  flex-basis:40px;
}

.recipes__captions{
  display: flex;
}

.reservation{
  background-color: #D9E7FF;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: centered;
  background-size:cover;
}

.reservation__title{
  margin-top:100px;
  margin-bottom:80px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:44px;
  line-height: 52px;
  text-align: center;
}
.reservation__form{

}

.form__input{
  border-radius: 4px;
}
.form__fieldset{
  flex-direction: column;
}
.form__button{
  border-radius: 2px;
  background-color: #2f80ed;
  opacity: 1;
  transition: opacity .5s linear 0s;
}

.form__button:hover{
  opacity: 0.7;
}

input[type="checkbox"]:checked {
  background-color: #2F80ED;
  background-image: url("../images/check.svg");
}
.about{
  position: relative;
  display: flex;
}
.about__circle{
  width:426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  position: relative;
  margin-top:-152px;
  margin-left: -129px;
  z-index:-50;
}

.about__title{
  position: absolute;
  margin-top: 100px;
  margin-left: 80px;
  max-width: 251px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.about__content{
  row-gap: 20px;
  max-width:660px;
  margin-top: 119px;
  margin-bottom:80px;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

}